---
import { getCollection } from "astro:content"

import Layout from "../layouts/Layout.astro"
import FormattedDate from "../components/FormattedDate.astro"
import { DEV, PAGE_SIZE } from "../consts"

const posts = (
  await getCollection("second-brain", ({ data }) => {
    return DEV ? true : data.draft !== true && data.unlisted !== true
  })
).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
---

<Layout>
  <!-- <head>
		<BaseHead title={title} description={description} />
		<style>
			.title {
				font-size: 2em;
				margin: 0.25em 0 0;
			}
			hr {
				border-top: 1px solid #ddd;
				margin: 1rem 0;
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head> -->
  <section class="container prose prose-xl dark:prose-invert">
    <h2>Recent Entries</h2>
    <div class="flex flex-col gap-4 md:gap-2">
      {
        posts.slice(0, PAGE_SIZE).map((post) => (
          <div class="flex justify-between items-center">
            <span>
              {post.data.draft ? "(Draft)" : null}{" "}
              <a
                href={`/${post.slug}/`}
                class="no-underline"
                transition:name={`entry-${post.slug}`}
              >
                {post.data.title}
              </a>
            </span>
            <small>
              <FormattedDate date={post.data.date} />
            </small>
          </div>
        ))
      }
    </div>

    {
      posts.length > PAGE_SIZE && (
        <nav class="flex justify-end mt-8">
          <a href={"/page/2"} class="no-underline">
            Next →
          </a>
        </nav>
      )
    }
  </section>
</Layout>
