---
import type { CollectionEntry } from "astro:content"
import FormattedDate from "../components/FormattedDate.astro"
import Layout from "./Layout.astro"

type Props = CollectionEntry<"second-brain">["data"]

const { title, date, draft, updated, filepath, tags } = Astro.props
const { slug } = Astro.params
---

<Layout title={title}>
  <!-- <head>
		<BaseHead title={title} description={""} />
		<style>
			.title {
				font-size: 2em;
				margin: 0.25em 0 0;
			}
			/* hr {
				border-top: 1px solid #ddd;
				margin: 1rem 0;
			} */
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head> -->

  <article class="container">
    <div
      class="max-w-none prose prose-lg lg:prose-xl dark:prose-invert pt-8 flex flex-col gap-2"
    >
      <!-- {heroImage && <img width={720} height={360} src={heroImage} alt="" />} -->
      <h1 transition:name={`entry-${slug}`} class="w-fit">
        {title}
        {draft ? "(Draft)" : null}
      </h1>

      <small>
        <FormattedDate date={date} />

        {
          updated && (
            <div class="last-updated-on">
              Last updated <FormattedDate date={updated} />
            </div>
          )
        }
        <!-- <hr /> -->
      </small>

      <!-- Tags -->
      {
        tags && tags.length && (
          <div class="flex gap-1">
            {tags.map(
              (tag) =>
                tag && (
                  <a
                    href={`/tags/${tag}`}
                    class="inline-block text-sm font-light text-gray-700 bg-gray-200 dark:bg-gray-800 dark:text-gray-200"
                  >
                    {tag}
                  </a>
                )
            )}
          </div>
        )
      }

      <!-- Content -->
      <div>
        <slot />
      </div>
    </div>

    <div class="mt-8 flex gap-4">
      <a
        href={`https://github.com/narze/second-brain/blob/main/${filepath.replace(
          "src/content/second-brain/",
          ""
        )}`}
        target="_blank"
        rel="noopener noreferrer"
        class="text-sm text-gray-500 hover:text-gray-600 dark:text-gray-400 dark:hover:text-gray-300"
      >
        View Source
      </a>

      <a
        href={`obsidian://advanced-uri?filepath=${encodeURIComponent(
          filepath
            .replace("src/content/second-brain/", "")
            .replace("local/", "")
        )}`}
        target="_blank"
        rel="noopener noreferrer"
        class="text-sm text-gray-500 hover:text-gray-600 dark:text-gray-400 dark:hover:text-gray-300"
      >
        Edit in Obsidian
      </a>
    </div>
  </article>
</Layout>
